:root {
  font-family: Arial, sans-serif;
  color: #4A4655;
  background-color: #EDE7F6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #EDE7F6,
    #FBE4D5,
    #E3EEDB
  );

  color: #4A4655;
}